.goodsSkus {
  :global {
    .ant-select {
      width: 250px;
      margin-top: 16px;
    }
    .ant-select-selection__placeholder {
      color: #1890ff;
    }
    .ant-select-focused {
      .ant-select-selection__placeholder {
        color: #bfbfbf;
      }
    }
  }
}
